<extend name="Base:Index" />
<block name="Public">
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="javascript:void(0)" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> <span>首页</span></a>
                <a href="{:U('Category')}" class="current"><span>酒店展示-分类管理</span></a>
            </div>
            <h1>酒店展示-分类管理中心</h1>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                            <h5>分类管理</h5>
                        </div>
                        <form method="post" id="form">
                            <div class="widget-content">
                                <div class="btn-group mb10">
                                    <a href="{:U('CateAdd')}" class="btn btn-danger">
                                        <i class="icon-plus"></i> 添加
                                    </a>
                                    <button id="delall" ajax-url="{:U('CateDelete')}" type="button" class="btn"
                                        onclick="common.DelAll('#form','#delall')"><i class="icon-remove"></i> 删除所选</button>
                                    <button type="button" class="btn" onclick="history.back()"><i class="icon-chevron-left"></i>
                                        返回</button>
                                </div>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="check">
                                                <input type="checkbox" name="checkall" />
                                            </th>
                                            <th>分类级别</th>
                                            <th>分类名称</th>
                                            <th>排序</th>
                                            <th class="handle"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <volist name="cate" id="vo">
                                            <tr class="odd gradeX">
                                                <td class="center">
                                                    <input type="checkbox" name="checkbox" value="{$vo.id}">
                                                </td>
                                                <td class="center">{$vo.level}</td>
                                                <td class="center">{$vo.str}{$vo.name}</td>
                                                <td class="center">{$vo.orderid}</td>
                                                <td class="center">
                                                    <div class="btn-group">
                                                        <a href="{:U('CateAddList',array('category'=>$vo['id']))}"
                                                            class="btn btn-mini btn-info">
                                                            <i class="icon-plus"></i> 新增子分类
                                                        </a>
                                                        <a href="{:U('CateEdit',array('id'=>$vo['id']))}" class="btn btn-mini btn-info">
                                                            <i class="icon-edit"></i> 修改
                                                        </a>
                                                        <a href="javascript:void(0);" id="delete" ajax-url="{:U('CateDelete')}"
                                                            onclick="common.confAction('#delete',{id:'{$vo.id}'},'确定删除？')"
                                                            class="btn btn-mini btn-info">
                                                            <i class="icon-remove"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </volist>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>