<extend name="Base:index" />
<block name="Public">
    <div class="scroll swiper-no-swiping">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-hash="slide1">
                    <div class="banner">
                        <img src="__IMG__/home_banner.jpg" />
                    </div>
                    <div class="title">
                        <h1 class="en">
                            <img src="__IMG__/font.png" />
                        </h1>
                        <h1 class="zh">抚州凤凰开元名都大酒店</h1>
                    </div>
                    <div class="reserve core">
                        <form method="post">
                            <ul>
                                <li style="margin-left:0;">
                                    <input type="text" name="start" id="start" placeholder="Check in" onfocus="common.dateAction('#start','#start')" />
                                    <img src="__IMG__/time.png" id="startimg" onclick="common.dateAction('#start','#startimg')" />
                                </li>
                                <li>
                                    <input type="text" name="end" id="end" placeholder="leave" onfocus="common.dateAction('#end','#end')" />
                                    <img src="__IMG__/time.png" id="endimg" onclick="common.dateAction('#end','#endimg')" />
                                </li>
                                <li>
                                    <input type="text" name="name" id="name" placeholder="name" />
                                </li>
                                <li>
                                    <input type="text" name="tel" id="tel" placeholder="telephone" />
                                </li>
                                <li>
                                    <input type="text" name="count" id="count" placeholder="Please enter the number of rooms" />
                                </li>
                                <li>
                                    <select name="house" id="category">
                                        <option value="">Please choose the room type</option>
                                        <volist name="pricecate" id="T">
                                            <option value="{$T.id}">{$T.eroomtype}</option>
                                        </volist>
                                    </select>
                                </li>
                                <li class="default">
                                    <input type="text" name="price" id="price" placeholder="Price" disabled />
                                </li>
                            </ul>
                            <div class="submit" id="submit">
                                <a href="javascript:void(0)" class="clearfix">
                                    <img src="__IMG__/submit.png" />
                                    <span>Immediate appointment</span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="swiper-slide" data-hash="slide2">
                    <ul class="about clearfix">
                        <li>
                            <img src="__IMG__/synopsis.jpg" />
                            <div class="about_core">
                                <h1>COMPANY PROFILE</h1>
                                <volist name="about" id="A" offset="0" length="1">
                                    <div class="about_box clearfix">
                                        <div class="about_content">
                                            {$A.epreview}
                                        </div>
                                        <div class="about_more">
                                            <a href="javascript:void(0)" class="clearfix" id="sys" ajax-url="{:U('About/index',array('category'=>$A['category']))}"
                                                onclick="common.clickAction($('#sys'),'COMPANY PROFILE')">
                                                <span>View details</span>
                                                <img src="__IMG__/rights.png" />
                                            </a>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                            <div class="icon">
                                <volist name="about" id="A" offset="0" length="1">
                                    <img src="{$A.icon}" />
                                </volist>
                                <span>Company profile</span>
                            </div>
                        </li>
                        <li>
                            <img src="__IMG__/history.jpg" />
                            <div class="about_core">
                                <h1>HOTEL CUlTURE</h1>
                                <volist name="about" id="A" offset="1" length="1">
                                    <div class="about_box clearfix">
                                        <div class="about_content">
                                            {$A.epreview}
                                        </div>
                                        <div class="about_more">
                                            <a href="javascript:void(0)" class="clearfix" id="culture" ajax-url="{:U('About/index',array('category'=>$A['category']))}"
                                                onclick="common.clickAction($('#culture'),'HOTEL CUlTURE')">
                                                <span>View details</span>
                                                <img src="__IMG__/rights.png" />
                                            </a>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                            <div class="icon">
                                <volist name="about" id="A" offset="1" length="1">
                                    <img src="{$A.icon}" />
                                </volist>
                                <span>Hotel Culture</span>
                            </div>
                        </li>
                        <li>
                            <img src="__IMG__/honor.jpg" />
                            <div class="about_core">
                                <h1>ORGANIZATIONAL HONOR</h1>
                                <volist name="about" id="A" offset="2" length="1">
                                    <div class="about_box clearfix">
                                        <div class="about_content">
                                            {$A.epreview}
                                        </div>
                                        <div class="about_more">
                                            <a href="javascript:void(0)" class="clearfix" id="honor" ajax-url="{:U('About/index',array('category'=>$A['category']))}"
                                                onclick="common.clickAction($('#honor'),'ORGANIZATIONAL HONOR')">
                                                <span>View details</span>
                                                <img src="__IMG__/rights.png" />
                                            </a>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                            <div class="icon">
                                <volist name="about" id="A" offset="2" length="1">
                                    <img src="{$A.icon}" />
                                </volist>
                                <span>Organizational honor</span>
                            </div>
                        </li>
                        <li>
                            <img src="__IMG__/active.jpg" />
                            <div class="about_core">
                                <h1>ACTIVITY DEMEANOR</h1>
                                <volist name="about" id="A" offset="3" length="1">
                                    <div class="about_box clearfix">
                                        <div class="about_content">
                                            {$A.epreview}
                                        </div>
                                        <div class="about_more">
                                            <a href="javascript:void(0)" class="clearfix" id="active" ajax-url="{:U('About/index',array('category'=>$A['category']))}"
                                                onclick="common.clickAction($('#active'),'ACTIVITY DEMEANOR')">
                                                <span>View details</span>
                                                <img src="__IMG__/rights.png" />
                                            </a>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                            <div class="icon">
                                <volist name="about" id="A" offset="3" length="1">
                                    <img src="{$A.icon}" />
                                </volist>
                                <span>Activity demeanor</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide" data-hash="slide3">
                    <div class="banner">
                        <img src="__IMG__/zs_banner.jpg" />
                    </div>
                    <div class="public core clearfix">
                        <div class="show_box clearfix">
                            <div class="show_img_box">
                                <div class="show-scroll"></div>
                            </div>
                            <div class="show_list">
                                <h1>HOTEL DISPLAY</h1>
                                <ul class="show_nav">
                                    <volist name="showcate" id="SC">
                                        <li data-id="{$SC.id}">{$SC.ename}</li>
                                    </volist>
                                    <li>
                                        <a href="https://720yun.com/t/853jupmOzm2?scene_id=22576819">VR</a>
                                    </li>
                                </ul>
                                <div class="show_thumb_box">
                                    <ul class="show_thumb clearfix"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="show_more">
                            <a href="javascript:void(0)" class="clearfix" id="show" ajax-url="{:U('Show/index')}"
                                onclick="common.clickAction($('#show'),'酒店展示')">
                                <span>View all</span>
                                <img src="__IMG__/right.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-hash="slide4">
                    <div class="banner">
                        <img src="__IMG__/server_banner.jpg" />
                    </div>
                    <div class="public core clearfix">
                        <div class="server_box clearfix">
                            <div class="server">
                                <h1>SERVICE FACILITIES</h1>
                                <ul class="server_list clearfix">
                                    <volist name="server" id="S" offset="0" length="6">
                                        <li>
                                            <a href="javascript:void(0)" data-url="{:U('Server/content',array('id'=>$S['id']))}">
                                                <img src="{$S.img}" />
                                                <div class="server_list_box">{$S.ename}</div>
                                            </a>
                                        </li>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                        <div class="server_more">
                            <a href="javascript:void(0)" class="clearfix" id="server" ajax-url="{:U('Server/index')}"
                                onclick="common.clickAction($('#server'),'SERVICE FACILITIES')">
                                <span>View all</span>
                                <img src="__IMG__/right.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-hash="slide5">
                    <div class="banner">
                        <img src="__IMG__/jx_banner.jpg" />
                    </div>
                    <div class="public core clearfix">
                        <div class="jx_box clearfix">
                            <div class="jx">
                                <h1>HOTEL SELECTION</h1>
                                <div class="jx-swiper">
                                    <ul class="jx_list swiper-wrapper clearfix">
                                        <volist name="jx" id="J">
                                            <li class="swiper-slide">
                                                <a href="javascript:void(0)" title="{$J.etitle}" data-url="{:U('Jx/content',array('id'=>$J['id']))}">
                                                    <img src="{$J.img}" />
                                                </a>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-hash="slide6">
                    <div class="banner">
                        <img src="__IMG__/news_banner.jpg" />
                    </div>
                    <div class="public core clearfix">
                        <div class="news_box clearfix">
                            <div class="news">
                                <h1>NEWS INFORMATION</h1>
                                <ul class="news_nav clearfix">
                                    <volist name="newscate" id="NC">
                                        <li data-id="{$NC.id}">{$NC.ename}</li>
                                    </volist>
                                </ul>
                                <div class="news_list_box">
                                    <ul class="news_list clearfix"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="news_more">
                            <a href="javascript:void(0)" class="clearfix" id="news" ajax-url="{:U('News/index')}"
                                onclick="common.clickAction($('#news'),'News')">
                                <span>View all</span>
                                <img src="__IMG__/right.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-hash="slide7">
                    <div class="banner">
                        <img src="__IMG__/zp_banner.jpg" />
                    </div>
                    <div class="public core clearfix">
                        <div class="zp_box clearfix">
                            <div class="zp">
                                <h1>TALENT RECRUITMENT</h1>
                                <volist name="zp" id="Z">
                                    <ul class="zp_type clearfix">
                                        <li>Recruitment post：{$Z.eposts}</li>
                                        <li>Academic requirements：{$Z.equalifications}</li>
                                        <li>【{$Z.times}】</li>
                                    </ul>
                                    <div class="zp_content">
                                        {$Z.epreview}
                                    </div>
                                </volist>
                            </div>
                        </div>
                        <div class="zp_more">
                            <a href="javascript:void(0)" class="clearfix" id="Zp" ajax-url="{:U('Zp/index')}" onclick="common.clickAction($('#Zp'),'TALENT RECRUITMENT')">
                                <span>View all</span>
                                <img src="__IMG__/right.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-hash="slide8">
                    <div class="banner">
                        <img src="__IMG__/contact_banner.jpg" />
                    </div>
                    <div class="public core clearfix">
                        <div class="contact_box clearfix">
                            <div class="contact clearfix">
                                <div class="contact_left">
                                    <div class="contact_type clearfix">
                                        <volist name="code" id="vo">
                                            <img src="{$vo.code}" />
                                        </volist>
                                        <div class="contact_line">
                                            <h1>{$C.qtel}</h1>
                                            <ul>
                                                <li>{$C.ecompany}</li>
                                                <li>Contact number：{$C.telephone}</li>
                                                <li>Fax number：{$C.ctel}</li>
                                                <li>Postal Code：{$C.email}</li>
                                                <li>address：{$C.eaddress}</li>
                                                <li>Record number：{$C.eicp}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="contact_logo">
                                        <img src="__IMG__/logo.png" />
                                    </div>
                                </div>
                                <div class="contact_right">
                                    <div id="allmap"></div>
                                    <a href="javascript:void(0)">
                                        <img src="__IMG__/arrival.png" id="arrival" ajax-url="{:U('Contact/index')}"
                                            onclick="common.clickAction($('#arrival'),'Map')" />
                                        <span>Arrival</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="nav">
                <div class="nav core clearfix">
                    <div class="logo">
                        <a href="{:U('/')}"></a>
                    </div>
                    <ul class="clearfix">
                        <volist name="nav" id="nav">
                            <li>
                                <a href="#slide{$nav.module}">
                                    {$nav.ename}
                                </a>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=yUHLSxMDKaMkjlF7mVEvUZUz4vijV1qZ"></script>
    <script src="__Public__/swiper-4.4.1/dist/js/swiper.js"></script>
    <script src="__Public__/layDate-v5.0.9/laydate/laydate.js"></script>
    <script src="__Public__/layer/layer.js"></script>
    <script src="__JS__/public.js"></script>
    <script>
        $(function(){
        /************************ 价格 ************************/
            var Cate = $('#category');
            var Count = $('#count');
            var Price = $('#price');
            $('select').change(function () {
                var cateValue = Cate.val();
                var countValue = Count.val();
                $.ajax({
                    type: 'POST',
                    url: '/Ehome/Index/Price',
                    data: {
                        'cate': cateValue,
                        'count': countValue
                    },
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.status == 0) {
                            Price.val('');
                        } else {
                            Price.val(data + 'RMB');
                        }
                    }
                });
            });

            Count.bind('input propertychange',function(){
                var cateValue = Cate.val();
                var countValue = Count.val();
                $.ajax({
                    type: 'POST',
                    url: '/Ehome/Index/Price',
                    data: {
                        'cate': cateValue,
                        'count': countValue
                    },
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.status == 0) {
                            Price.val('');
                        } else {
                            Price.val(data + 'RMB');
                        }
                    }
                });
            });

        /************************ 订单 ************************/
            var Start = $('#start');
            var End = $('#end');
            var Name = $('#name');
            var Tel = $('#tel');
            $('#submit').click(function () {
                var StartValue = Start.val();
                var EndValue = End.val();
                var NameValue = Name.val();
                var TelValue = Tel.val();
                var CateValue = Cate.val();
                var CountValue = Count.val();
                var PriceValue = Price.val();
                var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                if (StartValue == "") {
                    alert('Please enter the check-in time！');
                    $('#start').focus();
                    return false;
                } else if (EndValue == "") {
                    alert('Please enter the departure time！');
                    $('#end').focus();
                    return false;
                } else if (NameValue == "") {
                    alert('Please enter your name！');
                    $('#name').focus();
                    return false;
                } else if (!myreg.test(TelValue)) {
                    alert('Please enter a valid telephone number！');
                    $('#tel').focus();
                    return false;
                } else if (CateValue == "") {
                    alert('Please choose the number of rooms！');
                    return false;
                } else if (CountValue == "") {
                    alert('Please choose the room type！');
                    return false;
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/Ehome/Index/Pay',
                        data: {
                            'start': StartValue,
                            'end': EndValue,
                            'name': NameValue,
                            'tel': TelValue,
                            'roomtype': CateValue,
                            'roomcount': CountValue,
                            'price': PriceValue
                        },
                        dataType: 'JSON',
                        success: function (data) {
                            Start.val("");
                            End.val("");
                            Name.val("");
                            Tel.val("");
                            Cate.val("");
                            Count.val("");
                            Price.val("");
                            alert('订单提交成功！');
                        }
                    });
                }
            });
        })

        /************************ 地图导航 **************************/
        $(function(){
            var marker = {$json};
            var centerPoint = new BMap.Point(115.913453, 28.683878); // 默认坐标
            if (marker != null && marker.length > 0) {
                centerPoint.lng = marker[0].eastcoor;
                centerPoint.lat = marker[0].northcoor;
            }
            var map = new BMap.Map("allmap");
            map.centerAndZoom(centerPoint, 15);
            map.enableScrollWheelZoom();
            var navigationControl = new BMap.NavigationControl({
                // 靠左上角位置
                anchor: BMAP_ANCHOR_TOP_LEFT,
                // LARGE类型
                type: BMAP_NAVIGATION_CONTROL_LARGE,
                // 启用显示定位
                enableGeolocation: true
            });
            map.addControl(navigationControl);

            /* 添加标记 */
            for (var i = 0; i < marker.length; i++) {
                addMarker(marker[i].eastcoor, marker[i].northcoor, marker[i].ecoorname, marker[i].ecoorcontent);
            }
            // 方法
            function addMarker($lng, $lat, $til, $con) {
                var ppoint = new BMap.Point($lng, $lat);
                var marker = new BMap.Marker(ppoint);
                map.addOverlay(marker);
                marker.setAnimation(BMAP_ANIMATION_BOUNCE);
                // 文字说明
                var opts = {
                    position: ppoint, // 指定文本标注所在的地理位置
                    offset: new BMap.Size(5, -5) //设置文本偏移量
                }
                var label = new BMap.Label($til, opts); // 创建文本标注对象
                map.addOverlay(label);
                // 中心点
                marker.addEventListener('click', function (e) {
                    //返回中心店
                    var _ppoint = new BMap.Point($lng, $lat);
                    map.panTo(_ppoint);
                    //文字说明
                    var infoWindow = new BMap.InfoWindow($con);
                    map.openInfoWindow(infoWindow, _ppoint);
                });
            }
        })

        //酒店展示
        $(function () {
            $('.show_nav>li').click(function () {
                var _id = $(this).attr('data-id');
                $.ajax({
                    type: 'POST',
                    url: '/Home/Index/Show',
                    data: {
                        'id': _id
                    },
                    dataType: 'JSON',
                    success: function (data) {
                        $('.show_thumb').empty();
                        for (let i = 0; i < data.length && i < 6; i++) {
                            $('.show_thumb').append("<li data-cate='" + data[i].category + "'><img src='" + data[i].img + "' /></li>");
                        }

                        //定位
                        $('.show_thumb>li').eq(0).addClass('top left');
                        $('.show_thumb>li').eq(1).addClass('top');
                        $('.show_thumb>li').eq(2).addClass('top');
                        $('.show_thumb>li').eq(3).addClass('left');

                        //缩放效果
                        $('.show_thumb>li').hover(function () {
                            $(this).children('img').stop().animate({
                                scale: '1.1'
                            });
                        }, function () {
                            $(this).children('img').stop().animate({
                                scale: '1'
                            });
                        });

                        var _cates = $('.show_thumb>li:first').attr('data-cate');
                        $.ajax({
                            type: 'POST',
                            url: '/Home/Index/Showin',
                            data: {
                                'cate': _cates
                            },
                            dataType: 'JSON',
                            success: function (data) {
                                $('.show-scroll').empty();
                                $('.show-scroll').append("<div class='swiper-button-next'></div>");
                                $('.show-scroll').append("<div class='swiper-button-prev'></div>");
                                $('.show-scroll').append("<ul class='swiper-wrapper'></ul>");
                                for (let i = 0; i < data.length; i++) {
                                    $('.show-scroll>ul').append("<li class='swiper-slide'><img src='" + data[i].img + "' /></li>");
                                }

                                var show_swiper = new Swiper('.show-scroll', {
                                    centeredSlides: true,
                                    observer: true,
                                    observeParents: true,
                                    autoplay: {
                                        delay: 3000,
                                        disableOnInteraction: false,
                                    },
                                    pagination: {
                                        el: '.swiper-pagination',
                                        clickable: true,
                                    },
                                    navigation: {
                                        nextEl: '.swiper-button-next',
                                        prevEl: '.swiper-button-prev',
                                    },
                                });
                            }
                        });

                        $('.show_thumb>li').click(function () {
                            var _cate = $(this).attr('data-cate');
                            $.ajax({
                                type: 'POST',
                                url: '/Home/Index/Showin',
                                data: {
                                    'cate': _cate
                                },
                                dataType: 'JSON',
                                success: function (data) {
                                    $('.show-scroll').empty();
                                    $('.show-scroll').append("<div class='swiper-button-next'></div>");
                                    $('.show-scroll').append("<div class='swiper-button-prev'></div>");
                                    $('.show-scroll').append("<ul class='swiper-wrapper'></ul>");
                                    for (let i = 0; i < data.length; i++) {
                                        $('.show-scroll>ul').append("<li class='swiper-slide'><img src='" + data[i].img + "' /></li>");
                                    }

                                    var show_swiper = new Swiper('.show-scroll', {
                                        centeredSlides: true,
                                        observer: true,
                                        observeParents: true,
                                        autoplay: {
                                            delay: 3000,
                                            disableOnInteraction: false,
                                        },
                                        pagination: {
                                            el: '.swiper-pagination',
                                            clickable: true,
                                        },
                                        navigation: {
                                            nextEl: '.swiper-button-next',
                                            prevEl: '.swiper-button-prev',
                                        },
                                    });
                                }
                            });
                        });
                    }
                });
            });

            var _ids = $('.show_nav>li:first').attr('data-id');
            $.ajax({
                type: 'POST',
                url: '/Home/Index/Show',
                data: {
                    'id': _ids
                },
                dataType: 'JSON',
                success: function (data) {
                    for (let i = 0; i < data.length && i < 6; i++) {
                        $('.show_thumb').append("<li data-cate='" + data[i].category + "'><img src='" + data[i].img + "' /></li>");
                    }

                    //定位
                    $('.show_thumb>li').eq(0).addClass('top left');
                    $('.show_thumb>li').eq(1).addClass('top');
                    $('.show_thumb>li').eq(2).addClass('top');
                    $('.show_thumb>li').eq(3).addClass('left');

                    //缩放效果
                    $('.show_thumb>li').hover(function () {
                        $(this).children('img').stop().animate({
                            scale: '1.1'
                        });
                    }, function () {
                        $(this).children('img').stop().animate({
                            scale: '1'
                        });
                    });

                    var _cates = $('.show_thumb>li:first').attr('data-cate');
                    $.ajax({
                        type: 'POST',
                        url: '/Home/Index/Showin',
                        data: {
                            'cate': _cates
                        },
                        dataType: 'JSON',
                        success: function (data) {
                            $('.show-scroll').empty();
                            $('.show-scroll').append("<div class='swiper-button-next'></div>");
                            $('.show-scroll').append("<div class='swiper-button-prev'></div>");
                            $('.show-scroll').append("<ul class='swiper-wrapper'></ul>");
                            for (let i = 0; i < data.length; i++) {
                                $('.show-scroll>ul').append("<li class='swiper-slide'><img src='" + data[i].img + "' /></li>");
                            }
                            var show_swiper = new Swiper('.show-scroll', {
                                centeredSlides: true,
                                observer: true,
                                observeParents: true,
                                autoplay: {
                                    delay: 3000,
                                    disableOnInteraction: false,
                                },
                                pagination: {
                                    el: '.swiper-pagination',
                                    clickable: true,
                                },
                                navigation: {
                                    nextEl: '.swiper-button-next',
                                    prevEl: '.swiper-button-prev',
                                },
                            });
                        }
                    });

                    $('.show_thumb>li').click(function () {
                        var _cate = $(this).attr('data-cate');
                        $.ajax({
                            type: 'POST',
                            url: '/Home/Index/Showin',
                            data: {
                                'cate': _cate
                            },
                            dataType: 'JSON',
                            success: function (data) {
                                $('.show-scroll').empty();
                                $('.show-scroll').append("<div class='swiper-button-next'></div>");
                                $('.show-scroll').append("<div class='swiper-button-prev'></div>");
                                $('.show-scroll').append("<ul class='swiper-wrapper'></ul>");
                                for (let i = 0; i < data.length; i++) {
                                    $('.show-scroll>ul').append("<li class='swiper-slide'><img src='" + data[i].img + "' /></li>");
                                }

                                var show_swiper = new Swiper('.show-scroll', {
                                    centeredSlides: true,
                                    observer: true,
                                    observeParents: true,
                                    autoplay: {
                                        delay: 3000,
                                        disableOnInteraction: false,
                                    },
                                    pagination: {
                                        el: '.swiper-pagination',
                                        clickable: true,
                                    },
                                    navigation: {
                                        nextEl: '.swiper-button-next',
                                        prevEl: '.swiper-button-prev',
                                    },
                                });
                            }
                        });
                    });
                }
            });
        })
        
        //新闻资讯
        $(function(){
            $('.news_nav>li').each(function(){
                $(this).on('click',function(){
                    var _id = $(this).attr('data-id');
                    $.ajax({
                        type:'POST',
                        url:'/Ehome/Index/News',
                        data:{
                            'id':_id
                        },
                        dataType:'JSON',
                        success:function(data){
                            $('.news_list').empty();
                            for(let i = 0;i<data.length&&i<3;i++){
                                $('.news_list').append('<li><a href="javascript:void(0)" data-url="/Ehome/News/content/id/'+ data[i].id +'"><img src='+ data[i].img +' /><div class="news_title">'+ data[i].etitle +'</div><div class="news_time">'+ data[i].times +'</div></a></li>');
                            }

                            $('.news_list>li:first').addClass('left right');
                            $('.news_list>li:last').addClass('left right');

                            $('.news_list>li').each(function(){
                                $(this).on('click',function(){
                                    var url = $(this).children('a').attr('data-url');
                                    layer.open({
                                        type: 2,
                                        title: ['News Infomation'],
                                        content: url,
                                        area: ['1200px', '800px']
                                    });
                                })
                            });
                        }
                    });
                });
            });

            var _ids = $('.news_nav>li:first').attr('data-id');
            $.ajax({
                type:'POST',
                url:'/Ehome/Index/News',
                data:{
                    'id':_ids
                },
                dataType:'JSON',
                success:function(data){
                    for(let i = 0;i<data.length&&i<3;i++){
                        $('.news_list').append('<li><a href="javascript:void(0)" data-url="/Ehome/News/content/id/'+ data[i].id +'"><img src='+ data[i].img +' /><div class="news_title">'+ data[i].etitle +'</div><div class="news_time">'+ data[i].times +'</div></a></li>');
                    }

                    $('.news_list>li:first').addClass('left right');
                    $('.news_list>li:last').addClass('left right');

                    $('.news_list>li').each(function(){
                        $(this).on('click',function(){
                            var url = $(this).children('a').attr('data-url');
                            layer.open({
                                type: 2,
                                title: ['News Infomation'],
                                content: url,
                                area: ['1200px', '800px']
                            });
                        })
                    });
                }
            });
        })

        //服务设施
        $(function(){
            $('.server_list>li').each(function(){
                $(this).on('click',function(){
                    var url = $(this).children('a').attr('data-url');
                    layer.open({
                        type: 2,
                        title: ['Service Facilities'],
                        content: url,
                        area: ['1200px', '800px']
                    });
                })
            });
        })

        //酒店精选
        $(function(){
            $('.jx_list>li').each(function(){
                $(this).on('click',function(){
                    var url = $(this).children('a').attr('data-url');
                    layer.open({
                        type: 2,
                        title: ['HOTEL SELECTION'],
                        content: url,
                        area: ['1200px', '800px']
                    });
                })
            });
        })

        //弹出层
        var common = {
            clickAction: function ($this, $title, $url) {
                var $url = $($this).attr('ajax-url');
                layer.open({
                    type: 2,
                    title: [$title],
                    content: $url,
                    area: ['1200px', '800px']
                });
            },
            dateAction:function($this,$id){
                //外部事件调用
                laydate.render({
                    elem: $this,
                    lang: 'en',
                    show: true, //直接显示
                    closeStop: $id //这里代表的意思是：点击 test1 所在元素阻止关闭事件冒泡。如果不设定，则无法弹出控件
                });
            }
        }
    </script>
</block>