<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__CSS__/style.css">
    <title>NEWS INFORMATION</title>
</head>

<body style="background: rgb(238,238,238);">
    <div class="public_page">
        <div class="news_box clearfix">
            <div class="news">
                <h1 style="border-bottom:2px solid rgb(124,124,124);color:rgb(124,124,124);">NEWS INFORMATION</h1>
                <ul class="news_nav clearfix">
                    <volist name="newscate" id="NC">
                        <li>
                            <a href="{:U('News/index',array('category'=>$NC['id']))}">{$NC.ename}</a>
                        </li>
                    </volist>
                </ul>
                <ul class="show_page_list clearfix">
                    <volist name="data.list" id="vo">
                        <li class="clearfix">
                            <div class="showImg">
                                <img src="{$vo.img}" />
                            </div>
                            <div class="showCont">
                                <div class="showTitle">{$vo.etitle}</div>
                                <div class="showPreview">{$vo.epreview}</div>
                                <a href="{:U('News/content',array('id'=>$vo['id']))}">View all</a>
                            </div>
                        </li>
                    </volist>
                </ul>
                <hr class="public_rule" />
                {$data.page}
            </div>
        </div>
    </div>
</body>
<script src="__JS__/jquery-1.80.js"></script>
<script>
    var url = window.location.href.toLowerCase();
    var navLength = $('.news_nav>li').length;
    for (var i = 0; i < navLength; i++) {
        var _href = $('.news_nav>li').eq(i).children('a').attr('href').toLowerCase();
        if (url.lastIndexOf(_href) > -1) {
            $('.news_nav>li').eq(i).addClass('catenav_hover').siblings().removeClass('catenav_hover');
        }
    }
</script>

</html>