<!DOCTYPE html>
<html lang="en">

<head>
  <title>后台管理系统</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
  <link rel="stylesheet" href="__CSS__/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="__CSS__/fullcalendar.css" />
  <link rel="stylesheet" href="__CSS__/matrix-style.css" />
  <link rel="stylesheet" href="__CSS__/matrix-media.css" />
  <link rel="stylesheet" href="__CSS__/jquery.gritter.css" />
  <link rel="stylesheet" href="__Public__/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="__Public__/font-awesome-4.7.0/css/font-awesome.css" />
  <link rel="stylesheet" href="__Public__/kindeditor/plugins/code/prettify.css" />
  <link rel="stylesheet" href="__Public__/kindeditor/themes/default/default.css" />
  <link rel="icon" href="__IMG__/icon.png" type="image/x-icon" />
  <script src="__JS__/jquery-1.80.js"></script>
  <script src="__Public__/jquery-validation/dist/jquery.validate.js"></script>
  <script src="__Public__/jquery-validation/src/localization/messages_zh.js"></script>
</head>

<body>
  <div class="alert alert-success" style="position:fixed;top:0;z-index:999;left: 0;right: 0;margin: auto;width: 50%;display: none;">
    <strong>操作成功！</strong> 两秒后自动刷新
  </div>
  <!--Header-part-->
  <div id="header">
    <h1><a href="">Matrix Admin</a></h1>
  </div>
  <!--close-Header-part-->

  <!--top-Header-menu-->
  <div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
      <li class="dropdown" id="profile-messages"><a title="" href="javascript:void(0)" data-toggle="dropdown" data-target="#profile-messages"
          class="dropdown-toggle"><i class="icon icon-user"></i> <span class="text">欢迎 {$Think.session.admin.truename}</span><b
            class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{:U('Index/EditPwd')}"><i class="fa fa-user" aria-hidden="true"></i> 修改密码</a></li>
          <li class="divider"></li>
          <li><a href="{:U('Admin/Index')}"><i class="fa fa-users" aria-hidden="true"></i> 管理员</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0)" id="logs" ajax-url="{:U('Index/ClearLogs')}" onclick="common.confAction('#logs',{},'确定清除？')"><i
                class="icon icon-refresh"></i>
              清除日志</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0)" id="layout" ajax-url="{:U('Index/Layout')}" onclick="common.confAction('#layout',{},'确定退出？')"><i
                class="fa fa-power-off" aria-hidden="true"></i> 退出登录</a></li>
        </ul>
      </li>
      <li class="dropdown" id="profile-messages"><a href="javascript:void(0);" id="cache" ajax-url="{:U('Index/ClearCache')}"
          onclick="common.confAction('#cache',{},'确定清除？')" data-target="#profile-messages" class="dropdown-toggle"> <i
            class="icon icon-refresh"></i> <span class="text">清除缓存</span></a>
      </li>
      <li class="dropdown" id="profile-messages"><a title="" href="{:U('/')}" data-target="#profile-messages" class="dropdown-toggle"
          target="_blank"><i class="fa fa-home aria-hidden=" true"> </i> <span class="text">网站首页</span></a>
      </li>
    </ul>
  </div>


  <!--close-top-Header-menu-->
  <!--start-top-serch-->
  <!--close-top-serch-->
  <!--sidebar-menu-->
  <div id="sidebar"><a href="javascript:void(0)" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
    <ul>
      <li class="submenu">
        <a href="javascript:void(0)"><i class="fa fa-home aria-hidden=" true"></i> <span>首页</span></a>
        <ul>
          <li><a href="{:U('Index/Index')}">系统信息</a></li>
          <li><a href="{:U('Admin/Index')}">管理员</a></li>
          <li><a href="{:U('Index/Copy')}">版权管理</a></li>
        </ul>
      </li>
      <li class="submenu"> <a href="javascript:void(0)"><i class="fa fa-eye" aria-hidden="true"></i> <span>酒店展示</span></a>
        <ul>
          <li><a href="{:U('Show/Index')}">酒店展示管理</a></li>
          <li><a href="{:U('Show/In')}">内部展示管理</a></li>
          <li><a href="{:U('Show/Category')}">分类管理</a></li>
        </ul>
      </li>
      <li class="submenu"> <a href="javascript:void(0)"><i class="fa fa-server" aria-hidden="true"></i> <span>服务设施</span></a>
        <ul>
          <li><a href="{:U('Server/Index')}">服务设施管理</a></li>
          <li><a href="{:U('Server/Category')}">分类管理</a></li>
        </ul>
      </li>
      <li class="submenu"> <a href="javascript:void(0)"><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>新闻资讯</span></a>
        <ul>
          <li><a href="{:U('News/Index')}">新闻资讯管理</a></li>
          <li><a href="{:U('News/Category')}">分类管理</a></li>
        </ul>
      </li>
      <li class="submenu"> <a href="javascript:void(0)"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>地图</span></a>
        <ul>
          <li><a href="{:U('Map/Index')}">地图坐标管理</a></li>
          <li><a href="{:U('Nav/Index')}">地图导航管理</a></li>
        </ul>
      </li>
      <li class="submenu"> <a href="javascript:void(0)"><i class="fa fa-usd" aria-hidden="true"></i> <span>价格</span></a>
        <ul>
          <li><a href="{:U('Price/Index')}">价格管理</a></li>
          <li><a href="{:U('Price/Room')}">房型管理</a></li>
        </ul>
      </li>
      <li class="submenu"> <a href="javascript:void(0)"><i class="fa fa-file" aria-hidden="true"></i> <span>订单</span></a>
        <ul>
          <li><a href="{:U('Pay/Index')}">订单管理</a></li>
        </ul>
      </li>
      <li class="submenu"> <a href="javascript:void(0)"><i class="fa fa-file" aria-hidden="true"></i> <span>页面</span></a>
        <ul>
          <li><a href="{:U('About/Index')}">关于我们管理</a></li>
          <li><a href="{:U('Zp/Index')}">人才招聘管理</a></li>
          <li><a href="{:U('Jx/Index')}">酒店精选管理</a></li>
        </ul>
      </li>
      <li class="submenu"> <a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i> <span>其他</span></a>
        <ul>
          <li><a href="{:U('Code/Index')}">微信二维码</a></li>
          <li><a href="{:U('Backups/Index')}">数据备份</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!--sidebar-menu-->

  <block name="Public"></block>
  <!-- 模态框（Modal） -->
  <div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="width:150px;margin: auto;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="text-align:center;">
          <img src="__IMG__/spinner.gif" /> 加载中...
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

</body>

<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/matrix.js"></script>
<script src="__JS__/MyAjax.js"></script>

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage(newURL) {

    // if url is empty, skip the menu dividers and reset the menu selection to default
    if (newURL != "") {

      // if url is "-", it is this page -- reset the menu:
      if (newURL == "-") {
        resetMenu();
      }
      // else, send page to designated URL            
      else {
        document.location.href = newURL;
      }
    }
  }

  // resets the menu selection upon entry to this page:
  function resetMenu() {
    document.gomenu.selector.selectedIndex = 2;
  }
</script>
</body>

</html>