<extend name="Base:Index" />
<block name="Public">
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="javascript:void(0)" title="Go to Home" class="tip-bottom"><i class="icon-home"></i><span>首页</span></a>
                <a href="{:U('Index')}" class="tip-bottom"><span>人才招聘-管理</span></a>
                <a href="{:U('Add')}" class="current">修改-人才招聘</a></div>
            <h1>人才招聘-修改页面</h1>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>人才招聘</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form id="form" method="post" class="form-horizontal" enctype="multipart/form-data">
                                <div class="control-group">
                                    <label class="control-label">招聘岗位 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" style="width: 300px;" name="posts" value="{$data.posts}" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">学历要求 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" style="width: 300px;" name="qualifications" value="{$data.qualifications}" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">预览 :</label>
                                    <div class="controls">
                                        <textarea name="preview" style="width:90.6%;height:100px;">{$data.preview}</textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">内容 :</label>
                                    <div class="controls">
                                        <textarea id="Zp_Edit" name="content" style="width:91.48936170212765%;height:300px;">
                                            {$data.content}
                                        </textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">招聘岗位-英文版 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" style="width: 300px;" name="eposts" value="{$data.eposts}" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">学历要求-英文版 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" style="width: 300px;" name="equalifications" value="{$data.equalifications}" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">预览-英文版 :</label>
                                    <div class="controls">
                                        <textarea name="epreview" style="width:90.6%;height:100px;">{$data.epreview}</textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">内容-英文版 :</label>
                                    <div class="controls">
                                        <textarea id="Zp_EEdit" name="econtent" style="width:91.48936170212765%;height:300px;">
                                            {$data.econtent}
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="btn-group" style="margin-left:180px;">
                                        <button class="btn btn-success"><i class="icon-ok"></i> 保存</button>
                                        <button type="button" class="btn btn-success" onclick="history.back()"><i class="icon-chevron-left"></i>
                                            取消</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__Public__/kindeditor/kindeditor-all.js"></script>
    <script src="__Public__/kindeditor/lang/zh-CN.js"></script>
    <script src="__Public__/kindeditor/plugins/code/prettify.js"></script>
    <script>
        $(document).ready(function () {
            var editor;
            KindEditor.ready(function (K) {
                editor = K.create('textarea[id="Zp_Edit"]', {
                    allowPreviewEmoticons: false,
                    allowImageUpload: true,
                    allowFileManager: true,
                    uploadJson: '__Public__/kindeditor/php/upload_json.php',
                    cssPath: '__Public__/kindeditor/plugins/code/prettify.css',
                    uploadJson: '__Public__/kindeditor/php/upload_json.php',
                    fileManagerJson: '__Public__/kindeditor/php/file_manager_json.php',
                    afterCreate: function () {
                        var self = this;
                        K.ctrl(document, 13, function () {
                            self.sync();
                            K('form[name=example]')[0].submit();
                        });
                        K.ctrl(self.edit.doc, 13, function () {
                            self.sync();
                            K('form[name=example]')[0].submit();
                        });
                    }
                });
                prettyPrint();
            });

            var Eeditor;
            KindEditor.ready(function (K) {
                Eeditor = K.create('textarea[id="Zp_EEdit"]', {
                    allowPreviewEmoticons: false,
                    allowImageUpload: true,
                    allowFileManager: true,
                    uploadJson: '__Public__/kindeditor/php/upload_json.php',
                    cssPath: '__Public__/kindeditor/plugins/code/prettify.css',
                    uploadJson: '__Public__/kindeditor/php/upload_json.php',
                    fileManagerJson: '__Public__/kindeditor/php/file_manager_json.php',
                    afterCreate: function () {
                        var self = this;
                        K.ctrl(document, 13, function () {
                            self.sync();
                            K('form[name=example]')[0].submit();
                        });
                        K.ctrl(self.edit.doc, 13, function () {
                            self.sync();
                            K('form[name=example]')[0].submit();
                        });
                    }
                });
                prettyPrint();
            });

            //表单验证
            $().ready(function () {
                $('#form').validate();
            });
        })
    </script>
</block>